<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addBookSuccess</title>
    <link href="../common/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" th:fragment="boostrapCSS" th:href="@{/static/common/bootstrap-4.3.1/css/bootstrap.min.css}">
    <link href="../common/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet" th:fragment="fontAwesomeCSS" th:href="@{/static/common/fontawesome-free-5.12.0-web/css/all.css}">
    <link href="../common/jquery-ui-1.12.1/css/jquery-ui.min.css" rel="stylesheet" th:fragment="jqueryUICSS" th:href="@{/static/common/jquery-ui-1.12.1/css/jquery-ui.min.css}">
    <link href="header.css" rel="stylesheet" th:fragment="headerCSS" th:href="@{/static/template/header.css}">
</head>
<body>
    <header th:include="fragments :: header"></header>
    <br>
    <br>
    <br>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;addBookSuccess! You have added a new book!</h1>

    <script src="../common/jquery-3.4.1/jquery-3.4.1.min.js" th:fragment="jQueryJS" th:src="@{/static/common/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script src="../common/popper-1.14.7/popper.min.js" th:fragment="popperJS" th:src="@{/static/common/popper-1.14.7/popper.min.js}"></script>
    <script src="../common/bootstrap-4.3.1/js/bootstrap.min.js" th:fragment="bootstrapJS" th:src="@{/static/common/bootstrap-4.3.1/js/bootstrap.min.js}"></script>
    <script src="../common/jquery-validation-1.19.1/jquery.validate.min.js" th:fragment="jqueryValidationJS" th:src="@{/static/common/jquery-validation-1.19.1/jquery.validate.min.js}"></script>
    <script src="../common/jquery-ui-1.12.1/js/jquery-ui.min.js" th:fragment="jqueryUIJS" th:src="@{/static/common/jquery-ui-1.12.1/js/jquery-ui.min.js}"></script>
    <script src="../common/jquery-validation-1.19.1/additional-methods.min.js" th:fragment="jqueryValidationAdditionalJS" th:src="@{/static/common/jquery-validation-1.19.1/additional-methods.min.js}"></script>
    <script src="../common/jquery-validation-1.19.1/jquery.form.min.js" th:fragment="jqueryValidationFormMinJS" th:src="@{/static/common/jquery-validation-1.19.1/jquery.form.min.js}"></script>
    <script src="header.js" th:fragment="headerJS" th:src="@{/static/template/header.js}"></script>
</body>
</html>