<!DOCTYPE html>
<!-- XXX 抽取页面的公共部分-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="fragments :: boostrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link th:replace="fragments :: addBookCSS">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container" id="addBookBoxDiv">
        <div class="row">
            <div  class="col-sm-12" id="title">
                <h1>Add a new Book </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="name">Name</label>
                    <div class="col-sm-6 marginLeft">
                        <input class="form-control" id="name" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="isbn">ISBN</label>
                    <div class="col-sm-6 marginLeft">
                        <input class="form-control" id="isbn" type="text">
                    </div>
                </div>
                <div class="form-group row d-none">
                    <label class="col-sm-2 col-form-label">Author</label>
                    <div class="col-sm-6">
                        <div class="row preFixNumber" th:each="i:${#numbers.sequence(1,3)}">
                            <span class="col-sm-1" th:text="${i}">1</span>
                            <input class="form-control col-sm-11" type="text">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-outline-secondary addButton" data-number="3" id="addAuthorButton">
                            <i aria-hidden="true" class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group row d-none">
                    <label class="col-sm-2 col-form-label">Translator</label>
                    <div class="col-sm-6">
                        <div class="row preFixNumber"  th:each="i:${#numbers.sequence(1,2)}">
                            <span class="col-sm-1" th:text="${i}">1</span>
                            <input class="form-control col-sm-11" type="text">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-outline-secondary addButton" data-number="2" id="addTranslatorButton">
                            <i aria-hidden="true" class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group row d-none">
                    <label class="col-sm-2 col-form-label" for="price">Price</label>
                    <div class="col-sm-6 marginLeft">
                        <input class="form-control" id="price" type="text">
                    </div>
                </div>
                <div class="form-group row d-none">
                    <label class="col-sm-2 col-form-label" for="publisher">Publisher</label>
                    <div class="col-sm-6 marginLeft">
                        <input class="form-control" id="publisher" type="text">
                    </div>
                </div>
                <div class="form-group row d-none">
                    <label class="col-sm-2 col-form-label" for="publishYear">Date</label>
                    <div class="col-sm-2 marginLeft">
                        <select class="custom-select mr-sm-2" id="publishYear">
                            <option selected>2019</option>
                            <option value="1">2020</option>
                            <option value="2">2021</option>
                            <option value="3">2022</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="custom-select mr-sm-2" id="publishMonth">
                            <option selected>1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="custom-select mr-sm-2" id="publishDay">
                            <option selected>1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-sm-4">
                        <button class="btn btn-outline-primary" id="nextButton" type="button">Next</button>
                        <button class="btn btn-outline-secondary" id="cancelButton" type="button">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="addBookQuestion">Tank you for helping Greenbean</div>
            </div>
        </div>
    </div>

    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
    <script th:replace="fragments :: addBookJS"></script>
</body>
</html>