<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bookDetailPage</title>
    <link th:replace="fragments :: boostrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link th:replace="fragments :: starCSS">
    <link href="book.css" th:href="@{/static/template/book.css}" rel="stylesheet">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container" id="wrapper">
        <div class="row">
            <div class="col-sm-12" id="bookName">
                <h1><span>苏菲的世界</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3">
                        <a>
                            <img class="bookImg" th:src="@{/static/pic/bookDefault.gif}" title="bookName">
                        </a>
                        <p><a>Update Book's Information</a></p>
                    </div>
                    <div class="col-sm-6 px-sm-0" id="bookInfo">
                        <p>Author: <a href="#">[挪威] 乔斯坦·贾德</a></p>
                        <p>Publisher: 作家出版社</p>
                        <p>Original Name: Sofies verden</p>
                        <p>Translator: 萧宝森</p>
                        <p>PublicationDate: 2007-10</p>
                        <p>Page: 528</p>
                        <p>Price: 26.00元</p>
                        <p>Binding: 平装</p>
                        <p>ISBN: 9787506341271</p>
                    </div>
                    <div class="col-sm-3" id="greenbeanRatingDiv">
                        <div class="row greenbeanRatingRowDiv">
                                <span>GreenbeanRating</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 ratingCountDiv">
                                <span>9.2</span>
                            </div>
                            <div class="col-sm-8 starDiv">
                                <div class="bigStarImg bigStar45"></div>
                                <div class="ratingDiv">
                                    <span>31323 Rating</span>
                                </div>
                            </div>
                        </div>
                        <div class="row power">
                            <span class="starCount">5 Stars</span>
                            <div class="starPower"></div>
                            <span class="powerPercentage">51.4%</span><br>
                        </div>
                        <div class="row power">
                            <span class="starCount">4 Stars</span>
                            <div class="starPower"></div>
                            <span class="powerPercentage">37.6%</span><br>
                        </div>
                        <div class="row power">
                            <span class="starCount">3 Stars</span>
                            <div class="starPower"></div>
                            <span class="powerPercentage">9.9%</span><br>
                        </div>
                        <div class="row power">
                            <span class="starCount">2 Stars</span>
                            <div class="starPower"></div>
                            <span class="powerPercentage">0.9%</span><br>
                        </div>
                        <div class="row power">
                            <span class="starCount">1 Stars</span>
                            <div class="starPower"></div>
                            <span class="powerPercentage">0.2%</span><br>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
</body>
</html>