#wrapper {
    margin-top : 85px;
}
#bookName {
    margin-bottom : 20px;
}
h1 {
    font-size : 26px;
    font-weight : bold;
}
.bookImg {
    width : 100%;
    max-height : 200px;
    object-fit : contain;
    margin-bottom : 10px;
}
#bookInfo>p {
    font-size : 12px;
    margin-bottom : 0.45rem;
}
#greenbeanRatingDiv {
    border-left : 1px solid #eaeaea;
}
.greenbeanRatingRowDiv {
    color : #9b9b9b;
    line-height : 1;
    font-family : Helvetica,Arial,sans-serif;
    padding-left : 15px;
}
a+p {
    font-size : 12px;
    text-align : center;
}
.updateAnchor {
    color : #BBBBBB;
}
.ratingCountDiv {
    line-height : 2;
    font-size : 28px;
    min-width : 30%;
}
.starDiv {
    padding : 8px 0 8px 15px;
}
.ratingDiv {
    line-height : 2;
    color : #3377aa;
    font-family : Helvetica,Arial,sans-serif;
}
.starPowerDiv {
    width : 64px;
}
.starPower {
    height : 10px;
    margin : 3px 1px;
    background : #ffd596 none repeat scroll 0 0;
}

.power {
    padding-left : 15px;
    line-height : 14px;
    font-size : 12px;
    color : #9b9b9b;
}
.starCount {
    width : 36px;
    margin-right : 5px;
}
.powerPercentage {
    margin-left : 10px;
}
.ratingSignRow {
    padding : 20px 0 3px 15px;
}
.ratingSignRow button {
    margin-right : 10px;
    width : 66px;
}
.userRating {
    margin-right : 10px;
}
.ratingClickStar {
    position : relative;
    top : -4px;
    font-size : 0;
    padding-right : 5px;
}
.contentIntroDiv h4 {
    font-size : 16px;
    color : #007722;
    line-height : 150%;
    margin-top : 24px;
    margin-bottom : 3px;
}
.introduction p {
    text-indent : 2em;
    word-break : normal;
    word-wrap : break-word;
    font-size : 13px;
}
.noneIndent p {
    text-indent : 0;
}
#ratingStarIntro #userRatingStarIntro #dialogRatingStarIntro {
    color : #666666;
    padding-left : 5px;
    font-size : 13px;
    vertical-align : middle;
}
#shortCommentDiv a {
    font-size : 13px;
}
#showShortComment {
    float : right;
}
.comments {
    padding : 10px 0;
    border-bottom : 1px solid #ddd;
    margin-bottom : 5px;
}
#shortCommentDiv h4 {
    padding-bottom : 10px;
    border-bottom : 1px solid #ddd;
    margin-bottom : 5px;
}
.comments>span {
    display : inline-block;
    line-height : 1.7em;
}
.comments>p{
    color : #666;
}
.rightGrid {
    padding-left : 80px;
}
.rightGrid h4 {
    margin : 0 0 12px 0;
    line-height : 150%;
    font : 16px Arial, Helvetica, sans-serif;
    color : #007722;
}
.friendsInfoRow {
    border-bottom : 1px dashed #DDDDDD;
    margin-bottom : 12px;
    padding-bottom : 20px;
    color: #666666;
}
.friendsImg {
    padding-left : 0;
}
.friendsInfoRow img {
    width : 100%;
    max-height : 63px;
    object-fit : contain;
}
.friendsInfo>span {
    padding-right : 6px;
}
.friendsInfoRow a {
    line-height : 1.5;
}
.readersState>p:first-child {
    margin-bottom : 0;
}