<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bookDetailPage</title>
    <link th:replace="fragments :: boostrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link th:replace="fragments :: starCSS">
    <link href="book.css" th:href="@{/static/template/book.css}" rel="stylesheet">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container" id="wrapper">
        <div class="row">
            <div class="col-sm-12" id="bookName">
                <h1><span th:text="${bookPage.bookBriefBasicInfo.bookName}"></span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3">
                        <a>
                            <!-- XXX IDEA语法错误的错误提示 -->
                            <img class="bookImg" th:src="${bookPage.bookBriefBasicInfo.picture != null}? @{/static/picture/books/{bookItemPicture}(bookItemPicture=${bookPage.bookBriefBasicInfo.picture})} : @{/static/pic/bookDefault.gif}" title="bookName">
                        </a>
                        <p><a>Update Information</a></p>
                    </div>
                    <div class="col-sm-6 px-sm-0" id="bookInfo">
                        <p th:if="${bookPage.bookBriefBasicInfo.authorName}">Author: <span th:text="${bookPage.bookBriefBasicInfo.authorName}"></span></p>
                        <p th:if="${bookPage.bookBriefBasicInfo.publisher}">Publisher: <span th:text="${bookPage.bookBriefBasicInfo.publisher}"></span></p>
                        <p th:if="${bookPage.bookDetailBasicInfo.originalName}">Original Name: <span th:text="${bookPage.bookDetailBasicInfo.originalName}"></span></p>
                        <p th:if="${bookPage.bookBriefBasicInfo.translatorName}">Translator: <span th:text="${bookPage.bookBriefBasicInfo.translatorName}"></span></p>
                        <p th:if="${bookPage.bookBriefBasicInfo.publicationDate}">PublicationDate: <span th:text="${bookPage.bookBriefBasicInfo.publicationDate}"></span></p>
                        <p th:if="${bookPage.bookDetailBasicInfo.page}">Page: <span th:text="${bookPage.bookDetailBasicInfo.page}"></span></p>
                        <p th:if="${bookPage.bookBriefBasicInfo.price}">Price: <span th:text="${bookPage.bookBriefBasicInfo.price}"></span>元</p>
                        <p th:if="${bookPage.bookDetailBasicInfo.binding}">Binding: <span th:text="${bookPage.bookDetailBasicInfo.binding}"></span></p>
                        <p th:if="${bookPage.bookDetailBasicInfo.isbn}">ISBN: <span th:text="${bookPage.bookDetailBasicInfo.isbn}"></span></p>
                    </div>
                    <div class="col-sm-3" id="greenbeanRatingDiv">
                        <div class="row greenbeanRatingRowDiv">
                            <span>GreenbeanRating</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 ratingCountDiv" th:if="${bookPage.bookBriefStarRating.rating}">
                                <span th:text="${bookPage.bookBriefStarRating.rating}"></span>
                            </div>
                            <div class="col-sm-8 starDiv">
                                <div class="bigStarImg" th:classappend="'bigStar' + ${bookPage.bookBriefStarRating.starRatingName}"></div>
                                <div class="ratingDiv">
                                    <span th:text="${bookPage.bookBriefStarRating.ratingCount}"></span>&nbsp;Rating
                                </div>
                            </div>
                        </div>

                        <div class="row power" th:each="percentage,iterate : ${bookPage.bookDetailStarRating.ratingPercentageList}">
                            <span class="starCount" th:text="${5 - iterate.index} + (${iterate.last}? ' Star' : ' Stars')">5 Stars</span>
                            <div class="starPowerDiv">
                                <div class="starPower" th:styleappend="'width:' + ${bookPage.bookDetailStarRating.ratingPowerPercentageList[iterate.index]}"></div>
                            </div>
                            <div>
                                <span class="powerPercentage" th:text="${percentage}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="ratingSignDiv" th:attr="data-rating=${bookPage.bookUserRatingInfo.star}? ${bookPage.bookUserRatingInfo.star} : '', data-type=${bookPage.bookUserRatingInfo.type}? ${bookPage.bookUserRatingInfo.type} : ''">
                    <div class="col-sm-12 ratingSignRow" th:unless="${bookPage.bookUserRatingInfo.type}">
                        <button id="readingButton" class="btn btn-outline-warning" data-toggle="modal" data-target="#ratingDialog" data-status="I am reading this book. Add a Rating.">Reading</button>
                        <button id="readButton" class="btn btn-outline-warning" data-toggle="modal" data-target="#ratingDialog" data-status="I have read this book. Add a Rating.">Read</button>
                        <span>Rating:</span>
                        <span id="ratingClickStar" class="ratingClickStar" th:attr="data-hollow=@{/static/pic/hollowStar.png},data-solid=@{/static/pic/solidStar.png}" data-rating="0">
                            <a th:each="i : ${#numbers.sequence(1,5)}" data-toggle="modal" data-target="#ratingDialog" data-status="I have read this book. Add a Rating.">
                                <img th:src="@{/static/pic/hollowStar.png}" th:attr="data-index=${i}">
                            </a>
                        </span>
                        <span id="ratingStarIntro"></span>
                    </div>
                    <div class="col-sm-12 ratingSignRow" th:if="${bookPage.bookUserRatingInfo.type}">
                        <div>
                            <span class="userRating">I <span th:text="${bookPage.bookUserRatingInfo.type} == 1? 'am reading' : 'have read'"></span> this book.</span>
                            <span class="userRating" th:text="${bookPage.bookUserRatingInfo.time}"></span>
                            <a class="userRating" href="#" data-toggle="modal" data-target="#ratingDialog" data-status="Update : ">Update</a>
                            <a class="userRating" href="#">Remove</a>
                        </div>
                        <div>
                            <span class="userRating">My Rating:</span>
                            <span id="userRatingClickStar" class="ratingClickStar" th:attr="data-hollow=@{/static/pic/hollowStar.png}, data-solid=@{/static/pic/solidStar.png}, data-rating=${bookPage.bookUserRatingInfo.star}">
                                <a th:each="i : ${#numbers.sequence(1,5)}">
                                    <img th:src="@{/static/pic/hollowStar.png}" th:attr="data-index=${i}">
                                </a>
                            </span>
                            <span id="userRatingStarIntro"></span>
                        </div>
                    </div>
                </div>
                <div class="row contentIntroDiv" th:if="${bookPage.bookDetailBasicInfo.contentIntroList}">
                    <div class="col-sm-12">
                        <h4>Contents Introduction······</h4>
                        <div class="introduction">
                            <p th:each="item : ${bookPage.bookDetailBasicInfo.contentIntroList}" th:text="${item}"></p>
                        </div>
                    </div>
                </div>
                <div class="row contentIntroDiv" th:if="${bookPage.bookDetailBasicInfo.authorIntroList}">
                    <div class="col-sm-12">
                        <h4>Author Introduction······</h4>
                        <div class="introduction">
                            <p th:each="item : ${bookPage.bookDetailBasicInfo.authorIntroList}" th:text="${item}"></p>
                        </div>
                    </div>
                </div>
                <div class="row contentIntroDiv" th:if="${bookPage.bookDetailBasicInfo.directoryList}">
                    <div class="col-sm-12">
                        <h4>Directory······</h4>
                        <div id="directory" class="introduction">
                            <p th:each="item : ${bookPage.bookDetailBasicInfo.directoryList}" th:text="${item}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <!-- FIXME header内容位置变化 与视图窗口宽度有关  -->
    <div class="modal fade" id="ratingDialog" tabindex="-1" role="dialog" aria-labelledby="ratingDialogTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"><span></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <form id="userRatingForm" method="post" th:action="@{/addUserRating}">
                            <input type="hidden" name="bookId" th:value="${bookPage.bookBriefBasicInfo.id}">
                            <input type="hidden" name="score">
                            <input th:unless="${bookPage.bookUserRatingInfo.type}" type="hidden" name="type">
                            <!-- XXX 优化CSS 高度保持一致-->
                            <div th:if="${bookPage.bookUserRatingInfo.type}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" value="1" th:checked="${bookPage.bookUserRatingInfo.type == 1}? 'true' : 'false'">
                                    <label class="form-check-label">Reading</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" value="2" th:checked="${bookPage.bookUserRatingInfo.type == 2}? 'true' : 'false'">
                                    <label class="form-check-label">Read</label>
                                </div>
                            </div>
                        </form>
                        <span>Rating(Opional): </span>
                        <span id="dialogRatingClickStar" class="ratingClickStar" th:attr="data-hollow=@{/static/pic/hollowStar.png},data-solid=@{/static/pic/solidStar.png}, data-rating=${bookPage.bookUserRatingInfo.star}">
                            <a th:each="i : ${#numbers.sequence(1,5)}">
                                <img th:src="@{/static/pic/hollowStar.png}" th:attr="data-index=${i}">
                            </a>
                        </span>
                        <span id="dialogRatingStarIntro"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="saveButton" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
    <script src="book.js" th:src="@{/static/template/book.js}"></script>
</body>
</html>