<!DOCTYPE html>
<!-- XXX 抽取页面的公共部分-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="fragments :: boostrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link th:replace="fragments :: bookFormCSS">
    <link th:replace="fragments :: jqueryUICSS">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container" id="addBookBoxDiv">
        <div class="row">
            <div  class="col-sm-12" id="title">
                <h1>Update information about XXX</h1>
            </div>
        </div>
        <!-- XXX 待重构此action的地址  -->
        <form method="post" th:action="@{/book}">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="name">Name</label>
                        <div class="col-sm-6 marginLeft">
                            <input class="form-control" id="name" th:value="${editBookPage.name}" name="name" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="subtitle">Subtitle</label>
                        <div class="col-sm-6 marginLeft">
                            <input class="form-control" id="subtitle" name="subtitle" type="text" th:value="${editBookPage.subtitle}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="originalName">Original Name</label>
                        <div class="col-sm-6 marginLeft">
                            <input class="form-control" id="originalName" name="originalName" type="text" th:value="${editBookPage.originalName}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="isbn">ISBN</label>
                        <div class="col-sm-6 marginLeft">
                            <input class="form-control" id="isbn" name="isbn" type="text" th:value="${editBookPage.isbn}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Author</label>
                        <div class="col-sm-6">
                            <div class="row preFixNumber" th:each="i:${#numbers.sequence(1,3)}">
                                <span class="col-sm-1" th:text="${i}">1</span>
                                <!-- XXX 需加大上下间距-->
                                <input autocomplete="off" class="form-control col-sm-11" name="author" type="text">
                            </div>
                        </div>
                        <div>
                            <button class="btn addButton" data-number="3" id="addAuthorButton" type="button">
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Translator</label>
                        <div class="col-sm-6">
                            <div class="row preFixNumber"  th:each="i:${#numbers.sequence(1,2)}">
                                <span class="col-sm-1" th:text="${i}">1</span>
                                <input autocomplete="off" class="form-control col-sm-11" name="translator" type="text">
                            </div>
                        </div>
                        <div>
                            <button class="btn addButton" data-number="2" id="addTranslatorButton" type="button">
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="price">Price</label>
                        <div class="col-sm-6 marginLeft">
                            <input class="form-control" id="price" name="price" type="text" th:value="${editBookPage.price}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="publisher">Publisher</label>
                        <div class="col-sm-6 marginLeft">
                            <input class="form-control" id="publisher" name="publisher" type="text" th:value="${editBookPage.publisher}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="publicationYear">Date</label>
                        <div class="col-sm-2 marginLeft">
                            <select class="custom-select mr-sm-2" id="publicationYear" name="publicationYear">
                                <option th:each="i : ${#numbers.sequence(#calendars.year(#calendars.createToday()) + 3,1980)}" th:selected="${i == editBookPage.publicationYear}? 'true':'false'" th:text="${i}" th:value="${i}"></option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="custom-select mr-sm-2" id="publicationMonth" name="publicationMonth">
                                <option selected value="0">N/A</option>
                                <option th:each="i : ${#numbers.sequence(1,12)}" th:selected="${i == editBookPage.publicationMonth}? 'true':'false'" th:text="${i}" th:value="${i}"></option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="custom-select mr-sm-2" id="publicationDay" name="publicationDay">
                                <option selected value="0">N/A</option>
                                <option th:each="i : ${#numbers.sequence(1,31)}" th:selected="${i == editBookPage.publicationDay}? 'true':'false'" th:text="${i}" th:value="${i}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Binding</label>
                        <div class="col-sm-6 marginLeft lineHeightDiv">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="binding_1" name="binding" type="radio" value="1" th:checked="${editBookPage.binding} eq 1 ">
                                <label class="form-check-label" for="binding_1">paperback</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="binding_2" name="binding" type="radio" value="2" th:checked="${editBookPage.binding} eq 2">
                                <label class="form-check-label" for="binding_2">hardback</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="page">Page</label>
                        <div class="col-sm-6 marginLeft">
                            <input class="form-control" id="page" name="page" type="text" th:value="${editBookPage.page}">
                        </div>
                        <div class="lineHeightDiv"><span>pages</span></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="contentIntro">ContentIntro</label>
                        <div class="col-sm-6 marginLeft">
                            <textarea class="form-control" id="contentIntro" name="contentIntro" th:text="${editBookPage.contentIntro}" required rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="authorIntro">AuthorIntro</label>
                        <div class="col-sm-6 marginLeft">
                            <textarea class="form-control" id="authorIntro" name="authorIntro" th:text="${editBookPage.authorIntro}" required rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="directory">Directory</label>
                        <div class="col-sm-6 marginLeft">
                            <textarea class="form-control" id="directory" name="directory" th:text="${editBookPage.directory}" required rows="10"></textarea>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="col-sm-4">
                            <button class="btn btn-outline-primary" id="submitButton" type="submit">Submit</button>
                            <!--<button class="btn btn-outline-primary" id="nextButton" type="button">Next</button>-->
                            <button class="btn btn-outline-secondary" id="cancelButton" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="addBookQuestion">Tank you for helping Greenbean</div>
                </div>
            </div>
        </form>
    </div>

    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: jqueryUIJS"></script>
    <script th:replace="fragments :: headerJS"></script>
    <script src="editBook.js" th:src="@{/static/template/editBook.js}"></script>
    <script th:replace="fragments :: bookFormJS"></script>
</body>
</html>