<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <link href="../common/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" th:fragment="boostrapCSS" th:href="@{/static/common/bootstrap-4.3.1/css/bootstrap.min.css}">
    <link href="../common/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet" th:fragment="fontAwesomeCSS" th:href="@{/static/common/fontawesome-free-5.12.0-web/css/all.css}">
    <link href="header.css" rel="stylesheet" th:fragment="headerCSS" th:href="@{/static/template/header.css}">
    <link href="home.css" rel="stylesheet" th:fragment="homeCSS" th:href="@{/static/template/home.css}">
    <link href="setting.css" rel="stylesheet" th:fragment="settingCSS" th:href="@{/static/template/setting.css}">
    <link href="star.css" rel="stylesheet" th:fragment="starCSS" th:href="@{/static/template/star.css}">
    <link href="addBook.css" rel="stylesheet" th:fragment="addBookCSS" th:href="@{/static/template/addBook.css}">
</head>
<body>
    <!-- TODO 锁住header -->
    <header th:fragment="header">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <svg class="mr-2" fill="none" focusable="false" height="20" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                    <strong>Album</strong>
                </a>
                <form class="searchForm" method="get" th:action="@{/search}">
                    <div class="input-group">
                        <input aria-describedby="Search Books" aria-label="Search Books" class="form-control" name="searchKeyWord" placeholder="Search Books" type="text">
                        <input class="form-control" name="start" type="hidden">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="Search Books" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="dropdown">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" type="button">
                    <span id="userNicknameHeaderSpan" th:text="${session.userNickname}">User</span>'s account
                </button>
                <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="home">Home</a>
                    <a class="dropdown-item" href="setting">Account Setting</a>
                    <a class="dropdown-item" href="javascript:void(0)" id="signOutLink">Sign Out</a>
                </div>
            </div>
        </div>
        <form id="signOutForm" method="post" style="display:none" th:action="@{/signOut}"></form>
    </header>

    <script src="../common/jquery-3.4.1/jquery-3.4.1.min.js" th:fragment="jQueryJS" th:src="@{/static/common/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script src="../common/popper-1.14.7/popper.min.js" th:fragment="popperJS" th:src="@{/static/common/popper-1.14.7/popper.min.js}"></script>
    <script src="../common/bootstrap-4.3.1/js/bootstrap.min.js" th:fragment="bootstrapJS" th:src="@{/static/common/bootstrap-4.3.1/js/bootstrap.min.js}"></script>
    <script src="../common/jquery-validation-1.19.1/jquery.validate.min.js" th:fragment="jqueryValidationJS" th:src="@{/static/common/jquery-validation-1.19.1/jquery.validate.min.js}"></script>
    <script src="../common/jquery-validation-1.19.1/additional-methods.min.js" th:fragment="jqueryValidationAdditionalJS" th:src="@{/static/common/jquery-validation-1.19.1/additional-methods.min.js}"></script>
    <script src="../common/jquery-validation-1.19.1/jquery.form.min.js" th:fragment="jqueryValidationFormMinJS" th:src="@{/static/common/jquery-validation-1.19.1/jquery.form.min.js}"></script>
    <script src="header.js" th:fragment="headerJS" th:src="@{/static/template/header.js}"></script>
    <script src="home.js" th:fragment="homeJS" th:src="@{/static/template/home.js}"></script>
    <script src="addBook.js" th:fragment="addBookJS" th:src="@{/static/template/addBook.js}"></script>
</body>
</html>