<!DOCTYPE html>
<!-- XXX 抽取页面的公共部分-->
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="fragments :: boostrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link th:replace="fragments :: homeCSS">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container userInfoDiv">
        <div class="row">
            <div class="col-sm-1">
                <img alt="${session.userAvatar}" id="avatar" src="sample.jpg" th:if="${session.userAvatar != null}" th:src="@{/static/picture/avatars/{userAvatar}(userAvatar=${session.userAvatar})}">
            </div>
            <div class="col-sm-8">
                <h3 th:text="${session.userNickname}"></h3>
            </div>
        </div>
    </div>

    <!--XXX 把主体框架放进fragments，以提高代码复用率  -->
    <div class="container" id="bookDiv">
        <h5>Read  · · · · · · ( <span th:text="${readingCount}">7</span>本reading · <span th:text="${wishCount}">554</span>本wish · <span th:text="${readCount}">235</span>本read )</h5>
        <div class="row bookRow">
            <div class="col-sm-1 bookHead">
                reading
            </div>
            <div class="col-sm bookPlace">
                <img alt="大话数据结构" th:src="${readingCount > 0}? @{/static/picture/books/{readingBookPicture}(readingBookPicture=${readingBookPictures[0]})} : @{static/pic/bookDefault.gif}">
            </div>
            <div class="col-sm bookPlace">
                <img alt="大话数据结构" th:src="${readingCount > 1}? @{/static/picture/books/{readingBookPicture}(readingBookPicture=${readingBookPictures[1]})} : @{static/pic/bookDefault.gif}">
            </div>
            <div class="col-sm bookPlace">
                <img alt="大话数据结构" src="bookDefault.gif" th:if="${readingCount > 2}" th:src="@{/static/picture/books/{readingBookPicture}(readingBookPicture=${readingBookPictures[2]})}">
            </div>
            <div class="col-sm bookPlace">
                <img alt="大话数据结构" src="bookDefault.gif" th:if="${readingCount > 3}" th:src="@{/static/picture/books/{readingBookPicture}(readingBookPicture=${readingBookPictures[3]})}">
            </div>
            <div class="col-sm bookPlace">
                <img alt="大话数据结构" src="bookDefault.gif" th:if="${readingCount > 4}" th:src="@{/static/picture/books/{readingBookPicture}(readingBookPicture=${readingBookPictures[4]})}">
            </div>
        </div>
        <div class="row bookRow">
            <div class="col-sm-1 bookHead">
                read
            </div>
            <div class="col-sm bookPlace">
                <img alt="大话数据结构" src="bookDefault.gif" th:if="${readCount > 0}" th:src="@{/static/picture/books/{readBookPicture}(readBookPicture=${readBookPictures[0]})}">
            </div>
            <div class="col-sm bookPlace">
                <img alt="大话数据结构" src="bookDefault.gif" th:if="${readCount > 1}" th:src="@{/static/picture/books/{readBookPicture}(readBookPicture=${readBookPictures[1]})}">
            </div>
            <div class="col-sm bookPlace">
                <img alt="大话数据结构" src="bookDefault.gif" th:if="${readCount > 2}" th:src="@{/static/picture/books/{readBookPicture}(readBookPicture=${readBookPictures[2]})}">
            </div>
            <div class="col-sm bookPlace">
                <img alt="大话数据结构" src="bookDefault.gif" th:if="${readCount > 3}" th:src="@{/static/picture/books/{readBookPicture}(readBookPicture=${readBookPictures[3]})}">
            </div>
            <div class="col-sm bookPlace">
                <img alt="大话数据结构" src="bookDefault.gif" th:if="${readCount > 4}" th:src="@{/static/picture/books/{readBookPicture}(readBookPicture=${readBookPictures[4]})}">
            </div>
        </div>
    </div>

    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
    <script th:replace="fragments :: homeJS"></script>
</body>
</html>