#bookDiv {
    margin-top: 40px;
}
.bookRow {
    margin-top: 20px;
}
.bookPlace {
    height: 200px;
}
.bookPlace>img {
    width: 100%;
    max-height:100%;
    object-fit: contain;
}
.bookHead {
    height: 200px;
    line-height: 200px;
}
.userInfoDiv {
    margin-top: 85px;
}
#avatar {
    max-width: 100%;
}


