<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
    <link th:replace="fragments :: boostrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link href="search.css" rel="stylesheet" th:href="@{/static/template/search.css}">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container" id="searchBoxDiv">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1>search books</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container" id="searchBookListDiv">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img class="bookPictureImg" th:src="@{/static/picture/books/logic.jpg}">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div><span>书读完了</span></div>
                                                    <div><span>(1564人评价)</span></div>
                                                    <div><span>金克木 / 上海辞书出版社 / 2007-7 / 32.00元</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img class="bookPictureImg" th:src="@{/static/picture/books/logic.jpg}">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div><span>书读完了</span></div>
                                                    <div><span>(1564人评价)</span></div>
                                                    <div><span>金克木 / 上海辞书出版社 / 2007-7 / 32.00元</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img class="bookPictureImg" th:src="@{/static/picture/books/logic.jpg}">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div><span>书读完了</span></div>
                                                    <div><span>(1564人评价)</span></div>
                                                    <div><span>金克木 / 上海辞书出版社 / 2007-7 / 32.00元</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span>添加书籍 search results...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
</body>
</html>