<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
    <link th:replace="fragments :: boostrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link href="search.css" rel="stylesheet" th:href="@{/static/template/search.css}">
    <link th:replace="fragments :: starCSS">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container" id="searchBoxDiv">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div  class="col-sm-12" id="searchTitle">
                                <h1>search books</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="container">
                                            <div class="row bookRowDiv">
                                                <div class="col-sm-2">
                                                    <img class="bookPictureImg" th:src="@{/static/picture/books/logic.jpg}">
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="container">
                                                        <div class="row bookNameRow"><span><a href="">书读完了</a></span></div>
                                                        <div class="row bookRatingRow">
                                                            <span class="allStars star45"></span>
                                                            <span id="score">8.9</span>&nbsp;
                                                            (<span>1564</span>&nbsp;人评价)
                                                        </div>
                                                        <div class="row bookInfoRow">
                                                            <span>金克木</span>&nbsp;/&nbsp;
                                                            <span>译者</span>&nbsp;/&nbsp;
                                                            <span>上海辞书出版社</span>&nbsp;/&nbsp;
                                                            <span>2007-7</span>&nbsp;/&nbsp;
                                                            <span>32.00元</span>&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div  class="row justify-content-center">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination">
                                                        <li class="page-item">
                                                            <a aria-label="Previous" class="page-link" href="#">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item">
                                                            <a aria-label="Next" class="page-link" href="#">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div id="addBookQuestion">Can't find this book? What should I do...</div>
                                        <div id="addNewBook">
                                            <a href="">>Add a new Book...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
</body>
</html>