#searchBoxDiv {
    margin-top : 40px;
}
#searchTitle {
    margin : 30px 0;
}
.bookPictureImg {
    max-width : 100%;
}
.bookRowDiv {
    margin-bottom : 28px;
}
.bookNameRow {
    font-size : 18px;
    color : #005cbf;
}
.bookRatingRow {
    font-size: 16px;
    margin : 15px 0;
}
.bookInfoRow {
    font-size : 16px;
    color : #9999;
}
#addBookQuestion {
    font-size : 18px;
    margin-bottom : 15px;
}
#addNewBook {
    font-size : 16px;
}
