<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
    <link th:replace="fragments :: boostrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link href="search.css" rel="stylesheet" th:href="@{/static/template/search.css}">
    <link th:replace="fragments :: starCSS">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container" id="searchBoxDiv">
        <div class="row">
            <div  class="col-sm-12" id="searchTitle">
                <h1>search <span th:text="${param.searchKeyWord}"></span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <!--/*@thymesVar id="searchBooks" type="java.util.List"*/-->
                <div class="row bookRowDiv" th:each="bookItem : ${searchBooks}">
                    <div class="col-sm-2">
                        <a th:href="@{/book/{id}(id=${bookItem.bookBriefBasicInfo.id})}">
                            <!-- XXX IDEA语法错误的错误提示 -->
                            <img class="bookPictureImg" th:src="${bookItem.bookBriefBasicInfo.picture != null}? @{/static/picture/books/{bookPicture}(bookPicture=${bookItem.bookBriefBasicInfo.picture})} : @{/static/pic/bookDefault.gif}">
                        </a>
                    </div>
                    <div class="col-sm-10">
                        <div class="row bookNameRow"><span><a th:href="@{book/{id}(id=${bookItem.bookBriefBasicInfo.id})}" th:text="${bookItem.bookBriefBasicInfo.bookName}"></a></span></div>
                        <div class="row bookRatingRow">
                            <span class="allStars" th:classappend="'star' + ${bookItem.bookBriefStarRating.starRatingName}"></span>
                            <span class="rating_nums" th:text="${bookItem.bookBriefStarRating.rating}"></span>&nbsp;
                            <span th:if="${#conversions.convert(bookItem.bookBriefStarRating.ratingCount,'java.lang.Integer')} gt 0">
                                (&nbsp;<span th:text="${bookItem.bookBriefStarRating.ratingCount}"></span>&nbsp;<span th:text="${#conversions.convert(bookItem.bookBriefStarRating.ratingCount,'java.lang.Integer')} &gt; 1? 'Ratings' : 'Rating'"></span>&nbsp;)
                            </span>
                            <span th:if="${#conversions.convert(bookItem.bookBriefStarRating.ratingCount,'java.lang.Integer') == 0}">
                                (&nbsp;No rating temporarily&nbsp;)
                            </span>
                        </div>
                        <div class="row bookInfoRow">
                            <!-- TODO 当行内容多于一行时，使用省略号结尾-->
                            <span th:text="${bookItem.bookBriefBasicInfo.authorName}">author</span>/
                            <span th:if="${bookItem.bookBriefBasicInfo.translatorName != null}" th:text="${bookItem.bookBriefBasicInfo.translatorName}">translator</span><span  th:if="${bookItem.bookBriefBasicInfo.translatorName != null}" >/</span>
                            <span th:text="${bookItem.bookBriefBasicInfo.publisher}">publisher</span>/
                            <span th:text="${bookItem.bookBriefBasicInfo.publicationDate}">publicationDate</span>/
                            <span th:text="${bookItem.bookBriefBasicInfo.price}">price</span>元
                        </div>
                    </div>
                </div>
                <div  class="row justify-content-center">
                    <nav aria-label="Page navigation example" th:if="${pagination.totalItemsCount} &gt; 0">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${pagination.pageNumber == 1}? 'disabled'" >
                                <a aria-label="Previous" class="page-link" th:href="@{/search(searchKeyWord=${param.searchKeyWord}, offset=${(pagination.pageNumber - 2) * pagination.singleSize})}" >
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:classappend="${i == pagination.pageNumber}? 'active'" th:each="i : ${#numbers.sequence(1,pagination.totalPagesCount)}">
                                <a class="page-link" th:href="@{/search(searchKeyWord=${param.searchKeyWord}, offset=${(i - 1) * pagination.singleSize})}" th:text="${i}">1</a>
                            </li>
                            <li class="page-item"  th:classappend="${pagination.pageNumber == pagination.totalPagesCount}? 'disabled'">
                                <a aria-label="Next" class="page-link" th:href="@{/search(searchKeyWord=${param.searchKeyWord}, offset=${(pagination.pageNumber) * pagination.singleSize})}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div th:if="${pagination.totalItemsCount} &lt; 1">
                    <p>search nothing with &quot; <span th:text="${param.searchKeyWord}"></span> &quot;</p>
                    <p>Please try a difference keyword. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="addBookQuestion">Can't find this book? What should I do...</div>
                <div id="addNewBook">
                    <a href="addBook">&gt; Add a new Book...</a>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
</body>
</html>