<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
    <link th:replace="fragments :: boostrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link th:replace="fragments :: settingCSS">
</head>
<body>
    <header th:include="fragments :: header"></header>
    <form th:replace="~{fragments :: #signOutForm}"></form>

    <div id="nicknameFormDiv">
        <form>
            <div class="form-group">
                <label for="nicknameInput">Nickname</label>
                <input aria-describedby="nickname" class="form-control" id="nicknameInput" th:value="${session.userNickname}" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Update settings</button>
        </form>
    </div>


    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
    <script th:replace="fragments :: homeJS"></script>
</body>
</html>