.settingFormDiv {
    margin:40px auto;
    width:600px;
}
.avatar {
    width:100%;
}
#toastWrapperDiv {
    position: relative;
    min-height: 200px;
}
.toast {
    position: absolute;
    top: 0;
    right: 0;
}