html,
body {
    height: 100%;
}

.form-sign {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}
.form-sign .checkbox {
    font-weight: 400;
}
.form-sign .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-sign .form-control:focus {
    z-index: 2;
}
.form-sign input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-sign input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.greenbean-nav-tabs {
    margin-bottom: 10px;
    border-bottom: 0px;
}
.greenbean-nav-link {
    padding: .8rem 4.5rem;
    border-bottom: 1px solid #dee2e6 !important;
}
.greenbean-nav-link.active {
    border-bottom: 0px !important;
}
.navTab {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.hideForm {
    display: none;
}