<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>
    <link rel="stylesheet" href="../common/bootstrap-4.3.1/css/bootstrap.min.css" th:href="@{/static/common/bootstrap-4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="sign.css" th:href="@{/static/template/sign.css}">
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                    <strong>Album</strong>
                </a>
            </div>
        </div>
    </header>

    <div class="navDiv">
        <ul class="nav nav-tabs greenbean-nav-tabs">
            <a id="signInTab" class="nav-link active greenbean-nav-link" href="javaScript:void(0);">Sign In</a>
            <a id="signUpTab" class="nav-link greenbean-nav-link" href="javaScript:void(0);">Sign Up</a>
        </ul>
    </div>
    <!-- XXX 重构两个form-->
    <form class="form-sign" id="signInForm" th:action="@{/signIn}" method="post">
        <label for="userNameSignIn" class="sr-only">UserName</label>
        <input type="text" id="userNameSignIn" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="passwordSignIn" class="sr-only">Password</label>
        <input type="password" id="passwordSignIn" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me"> Remember me
            </label>
        </div>
        <button id="signInSubmitButton" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; Clio 2019</p>
    </form>

    <form class="form-sign hideForm" id="signUpForm" th:action="@{/signUp}" method="post" novalidate>
        <label for="userNameSignUp" class="sr-only">UserName</label>
        <input type="text" id="userNameSignUp" name="username" class="form-control" placeholder="Username" autofocus>
        <label for="passwordSignUp" class="sr-only">Password</label>
        <input type="password" id="passwordSignUp" name="password" class="form-control" placeholder="Password">
        <label for="confirmPasswordSignUp" class="sr-only">ConfirmPassword</label>
        <input type="password" id="confirmPasswordSignUp" name="confirmPassword" class="form-control" placeholder="Password again">

        <button id="signUpSubmitButton" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; Clio 2019</p>
    </form>

    <script src="../common/jquery-3.3.1/jquery-3.3.1.slim.min.js" th:src="@{/static/common/jquery-3.3.1/jquery-3.3.1.slim.min.js}"></script>
    <script src="../common/popper-1.14.7/popper.min.js" th:src="@{/static/common/popper-1.14.7/popper.min.js}"></script>
    <script src="../common/bootstrap-4.3.1/js/bootstrap.min.js" th:src="@{/static/common/bootstrap-4.3.1/js/bootstrap.min.js}"></script>
    <script src="../common/jquery-validation-1.19.1/jquery.validate.min.js" th:src="@{/static/common/jquery-validation-1.19.1/jquery.validate.min.js}"></script>
    <script src="../common/jquery-validation-1.19.1/additional-methods.min.js" th:src="@{/static/common/jquery-validation-1.19.1/additional-methods.min.js}"></script>
    <script src="sign.js" th:src="@{/static/template/sign.js}"></script>
</body>
</html>